################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vscode
/bin/Debug
/obj
/.vs/Web
/wwwroot/lib/bootstrap/LICENSE
/dotnetcoreQAAut
/Controllers/HomeController.cs.bak
/Startup.cs.bak
/Web.zip
